<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=SQL2014.studentwebserver.co.uk; Initial Catalog=db_1526922_HelloTupperware; Integrated Security=False; User Id=user_db_1526922_HelloTupperware;Password=admin12345;MultipleActiveResultSets=true" />
    <add name="ConnectionStringName" connectionString="Data Source=SQL2014.studentwebserver.co.uk;Initial Catalog=db_1526922_HelloTupperware;Integrated Security=False;User ID=user_db_1526922_HelloTupperware;Password=admin12345;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_1526922_HelloTupperwareEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2014.studentwebserver.co.uk;initial catalog=db_1526922_HelloTupperware;integrated security=False;user id=user_db_1526922_HelloTupperware;password=admin12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
 

</configuration>
