#order {
 font-family: Verdana, sans-serif;
    font-size: 12pt;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    padding-left:56px;
    margin-left:320px;
    margin-right:100px;
}
