#registerform  {
    font-family: Verdana, sans-serif;
    font-size: 15pt;
    right: 0;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    margin-left:320px;
    margin-right:100px;
    
}
h2 {
     font-family: Verdana, sans-serif;
    font-size: 12pt;
    right: 0;
    font-style: normal;
    letter-spacing: 3px;
}
