<?xml version="1.0"?>
<configuration>
  <connectsStrings>
    <remove name="LocalSqlServer">
      <add name="ConnectionsStringName"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=ServerName;Initial Catalog=DatabaseName; Integrated Security=False; User Id=userid;Password=password;
           MutipleActiveResultSets="/>
    </remove>
  </connectsStrings>
<system.web>
  <roleManager enabled="true"></roleManager>  
  <authentication mode="Forms"></authentication>
    <authorization>
      <allow roles="canEdit"/>
      <deny users="?"/>
    </authorization>
</system.web>
  <location path="Admin.aspx"/>
  <authorization>
    <allow roles="AdminRight"/>
    <deny users="*"/>
  </authorization>
</configuration>
